div.domtab{
  width: 100%;
  margin: 60px auto;
}
ul.domtabs{
  width: auto;
  padding: 0 220px;
  border-bottom: 1px solid #ccc;
}
ul.domtabs li{
  display: inline-block;
}
ul.domtabs a:link,
ul.domtabs a:visited,
ul.domtabs a:active,
ul.domtabs a:hover{
  color:#ccc;
  width:8em;
  height:5.5em;
  padding:.2em 1em;
  font-weight:bold;
  text-decoration:none;
  text-align: center;
  background: url('/images/alogo.png') 0 0 no-repeat;
  background-size: 100%;
  display: inline-block;
}
ul.domtabs li.active a:link,
ul.domtabs li.active a:visited,
ul.domtabs li.active a:active,
ul.domtabs li.active a:hover{
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.domtabs-info {
  font-size: 1.2em;
  margin-right: 60px;
  max-width: 400px;
}
