div.domtab{
  width: 100%;
  margin: 60px auto;
}
ul.domtabs{
  width: auto;
  padding: 0 220px;
  border-bottom: 1px solid #ccc;
}
.domtab-content {
  padding: 60px 220px;
  background-color: #fefefe;
  background-image: linear-gradient(#f0f0f0, #fff);
}
.domtab-content h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 120px;
}
ul.domtabs li{
  display: inline-block;
  padding-bottom: 30px;
  margin-bottom: -3px;
  position: relative;
  border: 1px solid transparent;
}
ul.domtabs p{
  margin-bottom: 0;
}
ul.domtabs a:link,
ul.domtabs a:visited,
ul.domtabs a:active,
ul.domtabs a:hover{
  color: #ccc;
  width: 8em;
  /* height:5.5em; */
  padding: 0em 1em;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}
/* http://css-tricks.com/examples/GradientBorder/ */
ul.domtabs li.active {
  border-width:1px;
  -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(bottom, #ddd, rgba(0, 0, 0, 0)) 1 100%;
  -o-border-image: -o-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
  -moz-border-image: -moz-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
}

/* http://cssarrowplease.com/ */
ul.domtabs li.active:after , ul.domtabs li.active:before {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  top: 100%;
}
ul.domtabs li.active:after {
  border-width: 10px;
  border-top-color: #fff;
  left: 57px;
}
ul.domtabs li.active:before {
  border-width: 12px;
  border-top-color: #ccc;
  left: 55px;
}


ul.domtabs li.active a {
  color: #666;
}

.domtabs-info {
  font-size: 1.2em;
  margin-right: 60px;
  max-width: 400px;
}

.platform-logo {
  margin-top: -40px;
}
